.nav{
    grid-area: n;
    background-color: rgb(128, 128, 128);
    padding: 20px;
    }
.item a { /* {  класс от ссылок */
        color: rgb(236, 236, 236);
text-decoration: none; /* убрали подчеркивание ссылки*/
    }
.item a.activelink {
    color: gold
}